<nav>
  <ul>
    <li>
      <a routerLink="/material">
        Angular Material decorator
      </a>
    </li>

    <li>
      <a routerLink="/common-class">
        Common CSS class
      </a>
    </li>

    <li>
      <a routerLink="/common-decorator">
        Common component decorator
      </a>
    </li>

    <li>
      <a routerLink="/on-push">
        OnPush change detection strategy
      </a>
    </li>

    <li>
      <a routerLink="/shadow-dom">
        Shadow DOM
      </a>
    </li>
  </ul>
</nav>
